.about {
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    /* padding: 0; */
    background: #fff;
}

.about-container {
    /* max-width: 1300px; */
    width: 90%;
    margin: auto;

}

.about-top {
    max-width: 700px;
    margin-bottom: 70px;
}

.about-tag {
    display: inline-block;

    padding: 8px 18px;

    background: rgba(35, 150, 90, .08);

    color: #23965A;

    border-radius: 999px;

    font-size: .85rem;
    font-weight: 600;

    margin-bottom: 20px;
}

.about-top h2 {
    font-size: 3rem;
    line-height: 1.2;

    margin-bottom: 20px;

    color: #111;
    text-shadow: 0 2px 6px rgba(32, 20, 3, 0.245) !important;
}

.about-top h2 span {
    color: #FF9910;
}

.about-top p {
    color: #666;
    line-height: 1.8;
    font-size: 1.05rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 80px;
    align-items: center;
}

.about-image {
    position: relative;
}

.about-image img {
    width: 100%;
    height: 650px;

    object-fit: cover;

    border-radius: 32px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .08);
}

.floating-card {
    position: absolute;

    right: -30px;
    bottom: 50px;

    width: 150px;
    height: 150px;

    padding: 5px;

    background-image: linear-gradient(to right, #ff9910, #faa326, #f5ac37, #f0b448, #ecbc58, #ecbc58, #ecbc58, #ecbc58, #f0b448, #f5ac37, #faa326, #ff9910);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 15px 40px rgba(0, 0, 0, .08);
}

.floating-card h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 2px 6px rgba(88, 88, 88, .3);
    margin: 0;
}

.floating-card p {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    margin-top: 5px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    /* border-left: 2px solid #b8b7b791; */
}

.content-block {
    position: relative;

    padding-left: 30px;
}


.content-block h3 {
    margin-bottom: 10px;

    font-size: 1.3rem;
    color: #111;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.content-block .content-icon {
    font-size: 15px;
    color: #FF9910;
    box-shadow: 0 2px 6px rgba(255, 153, 16, .3);
    border-radius: 50%;
}

.content-block p {
    line-height: 1.8;
    color: #666;
    width: 100%;
    text-align: left;
}

/* ===== 992 ===== */

@media(max-width:992px) {

    .about-grid {
        gap: 50px;
    }

    .about-top h2 {
        font-size: 2.4rem;
    }

}

/* ===== 780 ===== */

@media(max-width:780px) {

    .about-grid {
        grid-template-columns: 1fr;
    }

    .about-image img {
        height: 500px;
    }

    .floating-card {
        right: 20px;
        bottom: 20px;
    }

}

/* ===== 480 ===== */

@media(max-width:480px) {

    .about {
        padding: 80px 5%;
    }

    .about-top h2 {
        font-size: 2rem;
    }

    .about-image img {
        height: 400px;
    }

    .floating-card {
        width: 180px;
        padding: 20px;
    }

}