.cta {
    position: relative;

    margin: 120px 8%;

    border-radius: 40px;

    overflow: hidden;

    min-height: 420px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background:
        url("/cta-bg.jpg") center center/cover; */
}

.cta-overlay {
    position: absolute;
    inset: 0;

    background:
        linear-gradient(135deg,
            rgba(0, 0, 0, .75),
            rgba(0, 0, 0, .55));
}

.cta-content {
    position: relative;
    z-index: 2;

    max-width: 760px;

    text-align: center;

    padding: 40px;
}

.cta-badge {
    display: inline-block;

    padding: 10px 18px;

    border-radius: 999px;

    background: rgba(255, 255, 255, .1);

    color: #FFE141;

    font-size: .85rem;
    font-weight: 600;

    margin-bottom: 25px;
}

.cta-content h2 {
    font-size: 35px;
    font-weight: 800;

    color: white;

    line-height: 1.3;

    margin-bottom: 20px;
}

.cta-content h2 span {
    color: #FF9910;
}

.cta-content p {
    color: rgba(255, 255, 255, .8);

    line-height: 1.8;

    margin-bottom: 35px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.cta-primary {
    padding: 16px 34px;

    border: none;

    border-radius: 999px;

    background: #FF9910;

    color: white;

    font-weight: 600;

    cursor: pointer;

    transition: .3s;
    -webkit-tap-highlight-color: transparent;
}

.cta-primary:hover,
.cta-secondary:hover {
    transform: translateY(-3px);
}

.cta-secondary {
    padding: 16px 34px;

    border-radius: 999px;

    border: 1px solid rgba(255, 255, 255, .4);

    background: transparent;

    color: white;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/* ===== 992 ===== */

@media(max-width:992px) {

    .cta-content h2 {
        font-size: 2.7rem;
    }

}

/* ===== 780 ===== */

@media(max-width:780px) {

    .cta {
        margin: 100px 5%;
    }

    .cta-content h2 {
        font-size: 2.2rem;
    }

    .cta-buttons {
        flex-direction: column;
    }

}

/* ===== 480 ===== */

@media(max-width:480px) {

    .cta {
        min-height: 350px;
        border-radius: 30px;
    }

    .cta-content {
        padding: 25px;
    }

    .cta-content h2 {
        font-size: 1.8rem;
    }

}