.contact-page {

    background: #fff;

    overflow: hidden;
}

.contact-hero {
    padding-top: 0;
    padding: 0%;
    padding-top: 50px;
    background: #fff;
    position: relative;
    /* border: 1px solid red; */

    height: 100vh;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    background-size: cover;
    background-position: center;
    background:
        linear-gradient(rgba(0, 0, 0, .65),
            rgba(0, 0, 0, .55)),
        url('../Assets/contactPage.jpg');
}

.contact-hero::before {

    content: "CONTACT";

    position: absolute;

    left: 50%;
    top: 50%;

    transform:
        translate(-50%, -50%);

    font-size: 180px;

    font-weight: 800;

    color: rgba(140, 140, 140, 0.151);

    pointer-events: none;
}

.contact-hero span {

    color: var(--color-logo1);

    letter-spacing: 4px;

    font-weight: 600;
}

.hero-header {
    z-index: 99;
}

.hero-header h1 {

    font-size: 80px !important;

    margin: 20px 0;

    line-height: 1.1;
    z-index: 10;
    color: var(--color-logo1);
}

.hero-header p {

    max-width: 600px;

    margin: auto;

    color: #d4d4d4;

    font-size: 20px;
    line-height: 1.9;
    z-index: 10;
}

.contact-wrapper {

    padding: 120px 8% 120px;

    display: grid;

    grid-template-columns:
        420px 1fr;

    gap: 60px;
}

.contact-info {

    display: flex;

    flex-direction: column;

    gap: 15px;
}

.contact-card {

    padding: 15px 25px;

    border: 1px solid #eee;

    border-radius: 20px;

    display: flex;

    gap: 20px;

    align-items: flex-start;
    justify-content: flex-start;

    transition: .3s;
}

.contact-card:hover {

    transform:
        translateY(-4px);

    box-shadow:
        0 15px 40px rgba(0, 0, 0, .05);
}

.contact-card h4 {
    width: 100%;
    text-align: left;
}

.contact-card svg {

    color: var(--color-logo1);

    font-size: 22px;

    margin-top: 20px;
}

.contact-form-box {

    border: 1px solid red;
    padding: 20px;
    border-radius: 30px;

    background: #fafafa;

    border: 1px solid #eee;
}

.contact-form-box h2 {

    margin-bottom: 30px;

    font-size: 40px;
}

.contact-form-box form {

    display: flex;

    flex-direction: column;

    gap: 20px;
    /* border: 1px solid red; */
}

.contact-form-box input,
.contact-form-box textarea {

    width: 90% !important;

    padding: 18px;

    border: 1px solid #ddd;

    border-radius: 12px;

    outline: none;

    font-size: 15px;
}

.contact-form-box button {

    padding: 18px;

    border: none;

    border-radius: 12px;

    background:
        var(--color-logo1);

    color: white;

    font-weight: 600;

    cursor: pointer;
}

.contact-map {

    padding: 0 8% 120px;
    /* border: 1px solid blue; */
}

.cm-header {

    max-width: 700px;

    margin: 0 auto 50px;

    text-align: center;
}

.cm-header span {

    display: inline-block;

    padding: 10px 20px;

    border-radius: 999px;

    background: rgba(255, 153, 16, 0.12);

    color: var(--color-logo1);

    font-size: 14px;

    font-weight: 600;

    letter-spacing: 1px;

    text-transform: uppercase;

    margin-bottom: 5px;
}

.cm-header h4 {

    font-size: clamp(2rem, 4vw, 3.5rem);

    font-weight: 700;
    margin: 0;

    line-height: 1.2;

    color: #111;

    margin-bottom: 18px;
}

.cm-header p {

    font-size: 18px;

    line-height: 1.8;

    color: #666;

    max-width: 650px;

    margin: 0 auto;
}

.cm-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-map iframe {

    width: 100%;

    height: 500px;

    border: none;

    border-radius: 30px;
}

@media(max-width:992px) {

    .contact-wrapper {

        grid-template-columns: 1fr;
    }

    .contact-hero h1 {

        font-size: 56px;
    }

}

@media(max-width:768px) {
    .cm-header {

        margin-bottom: 40px;
    }

    .cm-header h4 {

        font-size: 38px;
    }

    .cm-header p {

        font-size: 16px;
    }


    .contact-hero h1 {

        font-size: 42px;
    }

    .contact-form-box {

        padding: 35px;
    }

}

@media(max-width:480px) {
    .cm-header span {

        font-size: 12px;

        padding: 8px 16px;
    }

    .cm-header h4 {

        font-size: 30px;
    }

    .cm-header p {

        font-size: 15px;

        line-height: 1.7;
    }

    .contact-hero {

        padding: 150px 5% 80px;
    }

    .contact-wrapper {

        padding: 0 5% 80px;
    }

    .contact-map {

        padding: 0 5% 80px;
    }

    .contact-hero h1 {

        font-size: 30px;
    }

    .contact-form-box {

        padding: 25px;
    }

    .contact-hero::before {

        font-size: 90px;
    }

}